<div style="background-color: rgba(60, 50, 200, 0.2); padding: 10px; margin: 0px; width: 180px;">
    <div id="sboku hrenb">
        <h4 style="margin:0px;">Последние блоги</h4>
        @foreach (var item in ViewBag.Last.PostList)
        {
            <a href="\Home\PostView\@item.Id">@item.Name</a>
            <br />
        }
    </div>
    <div id="sboku hrenb2">
        <h4>Последние сообщения</h4>
        @foreach (var item in ViewBag.Last.CommentList)
        {
            <a href="\Home\PostView\@item.PostId">@item.Text</a>
            <br />
        }
    </div>
</div>